/*Seletor universal*/
*{
    background-color: rgb(255, 110, 255);
    color: whitesmoke;
}

/*Estilzação por nome de tag*/
h1{
    background-color: lightgrey;
    color:black;
}

/*Estilização por classe*/
.titulo{
    background-color: rgb(255, 0, 230);
    color: rgb(225, 136, 255);
}

/*Estilização por seletor de id*/
#destaque{
    background-color: rgb(127, 234, 255);
}