* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(234, 233, 233);
  color: black; /*garante que o body ocupe toda a altuta da tela*/
  min-height: 100vh;
}

header {
  background-color: darkgray;
  /* padding: 20px; */
  color: whitesmoke;
  text-align: center;
}

header .logo {
  display: flex; /*uso do felexbox para alinhar a logo eo título*/
  align-items: center; /*alinha verticalmente os intes da div em questão*/
  justify-content: center; /*centraliza os intes horizontalmente*/
  background-color: rgb(108, 194, 255);
}
header .logo img {
  max-width: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

header .logo h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none; /*remove o estilo lista*/
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

main section {
  margin-bottom: 40px;
}
#home {
  background-color: aliceblue;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}
#home h2 {
  color: rgb(108, 194, 255);
}
.eventos-container {
  display: flex;
  padding: 10px;
  gap: 20px;
  text-align: center;
  justify-content: center;
  
}
.eventos-item{
  background-color: darkgray;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
}